:root{
    --bs-primary: #eb5d1e;
    --bs-primary-rgb: 235, 93, 30;

    --bs-secondary: #817168;
    --bs-secondary-rgb: 129, 113, 104;
}
.btn{
    background-color: #eb5d1e;
}
.btn:hover{
    background-color: #eb7846;
}
.title{
    color: #4e4039;
}
hr{
    border: 1px solid #ec662b;
    width: 3vw;
    opacity: 75%;
    margin: 1% 0 4%;
}

/*navbar*/
#nav .navbarBrand{
    letter-spacing: 1px;
}
#nav .navList .navItem .dropdown-menu{
    opacity: 0;
    transform: translateY(10px);
    transition: .3s;
    display: block;
    visibility: hidden;
}
#nav .navList .navItem.dropdown:hover>.dropdown-menu{
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}
#nav .navList .navItem .navLink{
    color: #817168;
}
#nav .navList .navItem .navLink:hover{
    color: #eb5d1e;
}
#nav .navList .navItem:hover > .navLink{
    color: #eb5d1e;
}
#nav .navList .navItem .navLink.active{
    color: #eb5d1e;
}
#nav .navList .navItem .dropdown-menu li .navList{
    position: absolute;
    left: 100%;
    top: 0;
    opacity: 0;
    transform: translateX(10px);
    transition: .3s;
    visibility: hidden;
}
#nav .navList .navItem .dropdown-menu li:hover>.navList{
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
}
#nav .navList .navItem .dropdown-menu li:hover > .navLink{
    color: #eb5d1e;
}

/*hero*/
#hero{
    background-color: #fef8f5;
    padding: 10% 15% 5%;
}
#hero .img{
    height: 40vh;
}

/*about*/
#about{
    padding: 3% 15%;
    gap: 10%;
}
#about .img{
    height: 35vh;
}
#about div .para{
    font-size: 0.8em;
}

/*services*/
#services{
    background-color: #fef8f5;
    padding: 5% 15%;
}
#services .cardContainer .card{
    width: 16vw;
    border-bottom: 3px solid transparent;
}
#services .cardContainer .card:hover{
    border-bottom: 3px solid #eb5d1e;
    transform: translateY(-5px);
    transition: transform 0.3s, border-bottom 0.1s;
    cursor: pointer;
}
#services .cardContainer .card .para{
    font-size: 0.8em;
}

/*portfolio*/
#portfolio{
    padding: 5% 15%;
}
#portfolio .tabsContainer .tab{
    color: #4e4039;
}
#portfolio .tabsContainer .tab.active{
    color: #eb5d1e;
}
#portfolio .prodContainer .row .col{
    transition: all 0.2s ease-in-out;
}
#portfolio .prodContainer .row .col.hideItem{
    transform: scale(0);
    opacity: 0;
    width: 0;
    padding: 0;
    margin: 0;
    flex: 0 0 0;
    overflow: hidden;
}
#portfolio .prodContainer .row .col .img{
    border: none;
}
#portfolio .prodContainer .row .col .layer{
    width: 94%;
    height: 100%;
    background-color: rgba(110, 94, 85, 0.5);
    margin: 0 10px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    transform: translateX(50%);
}
#portfolio .prodContainer .row .col:hover .layer{
    opacity: 1;
    transform: translateX(0);
}
#portfolio .prodContainer .row .col .layer .iconLayer i{
    background-color: #fff;
}
#portfolio .prodContainer .row .col .layer .iconLayer i:hover{
    cursor: pointer;
    background-color: #f78fbe;
}

/*faq*/
#faq{
    background-color: #fef8f5;
    padding: 5% 15%;
}
#faq .qIconContainer:hover{
    cursor: pointer;
    color: #eb5d1e;
}
#faq .qDropdown{
    transition: all 0.3s ease;
    transform: scaleY(1);
    transform-origin: top;
    opacity: 1;
}
#faq .qDropdown.hide{
    transform: scaleY(0);
    opacity: 0;
    overflow: hidden;
    height: 0;
}

/*team*/
#team{
    padding: 5% 15%;
}
#team .teamImgs .teamCard .teamOverlay{
    background: linear-gradient(
        to top,
        rgba(56, 41, 33, 0.8) 0%,
        rgba(56, 41, 33, 0.6) 50%,
        rgba(56, 41, 33, 0) 100%
    );
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    height: 100%;
}
#team .teamImgs .teamCard:hover .teamOverlay{
    opacity: 1;
}
#team .teamImgs .teamCard .teamOverlay .iconsTeam{
    height: 100%;
    left: -100px;
    padding: 5%;
    background: rgba(56, 41, 33, 0.6); 
    transition: left 0.4s ease-in-out;
}
#team .teamImgs .teamCard:hover .teamOverlay .iconsTeam{
    left: 0px; 
}
#team .teamImgs .teamCard .teamOverlay .iconsTeam i:hover{
    cursor: pointer;
    color: #eb5d1e;
}
#team .teamImgs .teamCard .teamOverlay .teamName{
    bottom: -12%; 
    transition: bottom 0.4s ease-in-out;
    font-size: 1em;
    display: flex;
    justify-self: center;
}
#team .teamImgs .teamCard .teamOverlay .teamOccup{
    font-size: 0.8em;
    font-style: italic;
    bottom: -22%; 
    transition: bottom 0.4s ease-in-out;
    display: flex;
    justify-self: center;
}
#team .teamImgs .teamCard:hover .teamOverlay .teamName{
    bottom: 12%;
}
#team .teamImgs .teamCard:hover .teamOverlay .teamOccup{
    bottom: 1%;
}

/*clients*/
#clients{
    background-color: #fef8f5;
    padding: 5% 15%;
}
#clients .clientsContainer .logoTrack{
    gap: 120px;
    transition: 0.5s;
}
#clients .clientsContainer .logoTrack .logoItem{
    width: 70px;
}
#clients .clientsContainer .logoTrack .logoItem img{
    opacity: 0.5;
}
#clients .clientsContainer .logoTrack .logoItem img:hover{
    opacity: 1;
    cursor: pointer;
}
#clients .clientsContainer .dots .dotBtn.active{
    background-color: #eb5d1e;
}

/*contact*/
#contact{
    padding: 5% 15%;
}
#contact .contactContainer .locationContainer .loRow .rowIcon{
    background-color: #fdf1ec;
    height: 35px;
    width: 35px;
}
#contact .contactContainer .locationContainer .loRow .infoContainer .info{
    font-size: 0.8em;
}
#contact .contactContainer .startFormCont .form .nameEmailCon input{
    width: 16.7vw;
}
#contact .contactContainer .startFormCont .form input{
    font-size: 0.8em;
}
#contact .contactContainer .startFormCont .form .messageCon #message{
    height: 20vh;
    width: 35vw;
}
#contact .contactContainer .startFormCont .form .btn{
    font-size: 0.9em;
}

/*newsletter*/
#newsletter{
    background-color: #fef8f5;
    padding: 3% 15%;
}
#newsletter p{
    font-size: 0.9em;
}
#newsletter div #subscribe{
    width: 30vw;
}

/*footer*/
#footer{
    padding: 3% 9%;
    font-size: 0.8em;
}
#footer .row div .title{
    font-size: 1.1em;
}
#footer .row div{
    line-height: 1;
}
#footer .row div p i{
    font-size: 0.7em;
}

/*copyright*/
.copyright{
    background-color: #fef8f5;
    padding: 1.5% 15% 0.8%;
    font-size: 0.7em;
}

/*Go To Top*/
.toTopBtn{
    width: 2.5vw;
    right: 10px;
    left: auto;
    display: none;
}